{% extends 'layouts/layout.html' %}

{% block content %}
    <div class="container">
        <h3 class="font-weight-bolder ml-2 mt-2 pb-2 text-dark">Upcoming Movies:</h3>
        <ul class="items m-2">
            {% for movie in up_movies %}
                <li>
                    <a href="/movies/{{ movie.id }}">
                        <i class="fas fa-film"></i>
                        <div class="item">
                            <h5>{{ movie.title }}</h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="font-weight-bolder ml-2 mt-2 pb-2 text-dark">Now in Theaters:</h3>
        <ul class="items m-2">
            {% for movie in in_movies %}
                <li>
                    <a href="/movies/{{ movie.id }}">
                        <i class="fas fa-film"></i>
                        <div class="item">
                            <h5>{{ movie.title }}</h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="font-weight-bolder ml-2 mt-2 pb-2 text-dark">Outdated Movies:</h3>
        <ul class="items m-2">
            {% for movie in od_movies %}
                <li>
                    <a href="/movies/{{ movie.id }}">
                        <i class="fas fa-film"></i>
                        <div class="item">
                            <h5>{{ movie.title }}</h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <form action="{{ url_for('movies.create_movies_form') }}" method="GET" class="float-xl-right">
        <input class="btn btn-dark w-10 h-10 " type="submit" value="Create New Movie">
    </form>
{% endblock %}